<div class="mb-2">
  <div class="row g-2">
    <div class="col-md-6">
      <label for="status">Status</label>
      <select class="form-control form-control-sm" id="status" (change)="onStatusChange($event)">
        <option [ngValue]="">All</option>
        <option [ngValue]="status.value" [selected]="status.value == todoQueryParams.status"
          *ngFor="let status of todoStatusOptions">
          {{ TodoStatus[status.value] }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="priority">Priority</label>
      <select class="form-control form-control-sm" id="priority" (change)="onPriorityChange($event)">
        <option [ngValue]="">All</option>
        <option [ngValue]="priority.value" [selected]="priority.value == todoQueryParams.priority"
          *ngFor="let priority of todoPriorityOptions">
          {{ TodoPriority[priority.value] }}
        </option>
      </select>
    </div>
  </div>
  <div class="row g-2 mt-0">
    <div class="col-md-6">
      <label for="sortBy">Sort By</label>
      <select class="form-control form-control-sm" id="sortBy" (change)="onSortByChange($event)">
        <option [ngValue]="">Default</option>
        <option [ngValue]="sortBy.value" [selected]="sortBy.value == todoQueryParams.sortBy"
          *ngFor="let sortBy of todoSortByOptions">
          {{ TodoSortBy[sortBy.value] }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="sortOrder">Sort Order</label>
      <select class="form-control form-control-sm" id="sortOrder" (change)="onSortOrderChange($event)"
        [disabled]="!todoQueryParams.sortBy">
        <option [ngValue]="false" [selected]="sortDescending == false">Ascending</option>
        <option [ngValue]="true" [selected]="sortDescending == true">Descending</option>
      </select>
    </div>
  </div>
</div>
