<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Priority</th>
      <th scope="col">Due Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todoList; let i = index; trackBy: trackById">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <span class="text-preview" openDelay="500" [ngbTooltip]="todo.title">
          {{ todo.title }}
        </span>
      </td>
      <td>
        <span class="text-preview" openDelay="500" [ngbTooltip]="todo.description">
          {{ todo.description }}
        </span>
      </td>
      <td>
        <span [class]="getStatusBadgeClass(todo.status)">
          {{ TodoStatus[todo.status] }}
        </span>
      </td>
      <td>
        <span [class]="getPriorityBadgeClass(todo.priority)">
          {{ TodoPriority[todo.priority] }}
        </span>
      </td>
      <td>
        {{ todo.dueDate | date: 'M/d/yyyy' }}
        <small class="text-muted">{{ todo.dueDate | date: 'shortTime' }}</small>
      </td>
      <td>
        <div class="d-flex gap-2">
          <button
            class="btn btn-sm btn-danger"
            openDelay="500"
            ngbTooltip="Delete"
            (click)="deleteTodo(todo.id, todo.title)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
